<div class='landing container'>
  <div class='text-center'>
    <h1>Welcome to Robot World</h1>
      <div class='row'>
        <a class='btn btn-primary' href="/robots">Meet the Robots</a>
        <a class='btn btn-success' href="/robots/new">Build a Robot</a>
      </div>
  </div>
  <div class='col-md-12' id="robot-statistics">
    <h2>Our Robots</h2>
    <div class="container">
    <% if @stats.empty? %>
      <h3><a href="/robots/new">Build a robot</a> to view statistics!<h3>
    <% else %>
      <div class="col-md-4">
        <h3>Average Age</h3>
        <ul class="list-group" min-height="200" id="robots-avg-age">
          <% if @stats[:avg_age].nil? %>
            <li class='list-group-item'>None</li>
          <% else %>
            <li class='list-group-item'><%= @stats[:avg_age] %></li>
          <% end %>
        </ul> <!-- end #robots-avg-age -->

        <h3>Robots Hired By Year</h3>
        <ul class="list-group" min-height="200" id="robots-years-hired">
          <% if @stats[:years_hired].empty? %>
            <li class='list-group-item'>None</li>
          <% else %>
            <% @stats[:years_hired].each do |year, count| %>
              <li class='list-group-item'><span class="badge"><%= count %></span><%= year %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-years-hired -->

        <h3>Robots By Department</h3>
        <ul class="list-group" min-height="200" id="robots-by-department">
          <% if @stats[:departments].empty? %>
            <li class='list-group-item'>None</li>
          <% else %>
            <% @stats[:departments].each do |dept, count| %>
              <li class='list-group-item'><span class="badge"><%= count %></span><%= dept %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-department -->

        <h3>Robots By City</h3>
        <ul class="list-group" min-height="200" id="robots-by-city">
          <% if @stats[:cities].empty? %>
            <li class='list-group-item'>None</li>
          <% else %>
            <% @stats[:cities].each do |city, count| %>
              <li class='list-group-item'><span class="badge"><%= count %></span><%= city %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-city -->

        <h3>Robots By State</h3>
        <ul class="list-group" min-height="200" id="robots-by-state">
          <% if @stats[:states].empty? %>
            <li class='list-group-item'>None</li>
          <% else %>
            <% @stats[:states].each do |state, count| %>
              <li class='list-group-item'><span class="badge"><%= count %></span><%= state %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-state -->
      </div>
    <% end %>
  </div> <!-- end #robot-statistics -->
</div> <!-- end container -->
