<div class='landing container'>
  <h1>Welcome to Robot World</h1>
  <div class='container'>
    <a href="/robots">Meet the Robots</a>
  </div>
  <div class='container'>
    <a href="/robots/new">Build a Robot</a>
  </div>
  <div id="robot-statistics">
    <h2>Statistics</h2>
    <div class="well">
    <% if @stats.class == String %>
      <p><%= @stats %></p>
    <% else %>
        <h4>Average Age:</h4>
        <ul id="robots-avg-age">
          <% if @stats[:avg_age].nil? %>
            <li>None</li>
          <% else %>
            <li><%= @stats[:avg_age] %></li>
          <% end %>
        </ul> <!-- end #robots-avg-age -->

        <h4>Robots Hired By Year:</h4>
        <ul id="robots-years-hired">
          <% if @stats[:years_hired].empty? %>
            <li>None</li>
          <% else %>
            <% @stats[:years_hired].each do |year, count| %>
              <li><%= year %>: <%= count %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-years-hired -->

        <h4>Robots By Department:</h4>
        <ul id="robots-by-department">
          <% if @stats[:departments].empty? %>
            <li>None</li>
          <% else %>
            <% @stats[:departments].each do |dept, count| %>
              <li><%= dept %>: <%= count %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-department -->

        <h4>Robots By City:</h4>
        <ul id="robots-by-city">
          <% if @stats[:cities].empty? %>
            <li>None</li>
          <% else %>
            <% @stats[:cities].each do |city, count| %>
              <li><%= city %>: <%= count %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-city -->

        <h4>Robots By State:</h4>
        <ul id="robots-by-state">
          <% if @stats[:states].empty? %>
            <li>None</li>
          <% else %>
            <% @stats[:states].each do |state, count| %>
              <li><%= state %>: <%= count %></li>
            <% end %>
          <% end %>
        </ul> <!-- end #robots-by-state -->
      </div>
    <% end %>
  </div> <!-- end #robot-statistics -->
</div> <!-- end container -->


<!--
@stats:
{
 :avg_age=>19,
 :years_hired=>{2015=>1, 1989=>1},
 :departments=>{"akldnal"=>1, "Electronics"=>1},
 :cities=>{"Pittsburgh"=>1, "Denver"=>1},
 :states=>{"PA"=>1, "CO"=>1}
}
-->
