<div class='container'>
  <h1>Robots</h1>

  <ul class='robot-index list-group'>
    <% if @robots.empty? %>
      <a href="/robots/new"><h3>Build a robot!</h3></a>
    <% else %>
      <% @robots.each do |robot| %>
        <li class='list-group-item'>
          <img class="img-rounded" src="https://robohash.org/<%= robot.name %>.png"
               height="200" width="200">
          <div class="container">
            <h3><a href="/robots/<%= robot.id %>" id="robot-<%= robot.id %>"><%= robot.name %></a></h3>
            <a href="/robots/<%= robot.id %>/reprogram">Reprogram</a>
            <form action="/robots/<%= robot.id %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Unplug" />
            </form>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
