<h1><%= @robot.name %></h1>
<ul>
  <li>City: <%= @robot.city %></li>
  <li>State: <%= @robot.state %></li>
  <!-- avatar -->
  <li>Birthdate: <%= @robot.birthdate %></li>
  <li>Date Hired: <%= @robot.date_hired %></li>
  <li>Department: <%= @robot.department %></li>
</ul>
